.dl-range,
.dl-current {
    padding-top: 32px;
}

.btn.btn-social-icon:hover {
    background-color: transparent;
}

// Admin button style (admin dashboard only)
.btn-admin {
    border-radius: 100px;
    box-shadow: rgb(1 0 255 / 20%) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgb(97 177 255 / 15%) 0 2px 4px, rgb(0 0 0 / 15%) 0 4px 8px, rgb(26 134 255 / 15%) 0 8px 16px, rgb(0 0 0 / 15%) 0 16px 32px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-admin:hover {
    box-shadow: rgb(62 62 62 / 35%) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgb(1 42 78 / 25%) 0 4px 8px, rgb(0 22 41 / 25%) 0 8px 16px, rgb(4 36 130 / 25%) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
